@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

.nav-bg {
  @apply bg-[#27232C];
}

.bg {
  @apply bg-[#0E1017];
}

.main-color {
  @apply text-[#E94560];
}

.main-color-bg {
  @apply bg-[#E94560];
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__button {
  @apply z-[1] absolute translate-y-[850px] cursor-pointer w-16 h-16 top-1/2;
}

.embla_right {
  right: -0.5rem;
}
